<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
<ul>
  <a routerLink="marketplace">
    <li (click)="categorySearch('antiques')">antiques</li>
    <li (click)="categorySearch('bicycles')">bicycles</li>
    <li (click)="categorySearch('business')">business</li>
    <li (click)="categorySearch('general')">general</li>
    <li (click)="categorySearch('jewelry')">jewelry</li>
    <li (click)="categorySearch('sporting goods')">sporting goods</li>
    <li (click)="categorySearch('tools')">tools</li>
  </a>
</ul>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
